<h1><%= @user.name %>さんの課題一覧</h1>
<div class="todo_list">
  <div class="flex">
    <p class="width-25">課題名</p>
    <p>期限</p>
  </div>
  <ul>
    <% @tasks.each do |task| %>
      <%= link_to(edit_user_task_path(@user, task)) do %>
        <li class="flex">
          <p class="width-25"><%= task.name %></p>
          <p><%= datetime_formatter(task.deadline) %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to("追加", new_user_task_path(@user)) %>
</div>



