<%= render partial: "layouts/sidebar" %>
<div class="content-wrapper">
  <h1><%= @user.name %>さんの課題一覧</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to(edit_user_task_path(@user, task)) do %>
            <p class="width-60"><%= task.name %></p>
            <p><%= datetime_formatter(task.deadline) %></p>
        <% end %>
        <%= link_to "完了", "tasks/#{task.id}/complete", method: :patch %>
      </li>
    <% end %>
  </ul>
  <%= link_to("追加", new_user_task_path(@user)) %>

  <%= link_to '完了済み', "/users/#{@user.id}/tasks/completed" %>
</div>
<%= render partial: "layouts/footer" %>



