<%= form_with(model: @user, local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :pastruresword_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <% if @user.is_admin? %>
    <div>
      <%= f.label :is_admin %>
      <%= f.check_box :is_admin, {checked_value: true, unchecked_value: false} %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Update" %>
  </div>
<% end %>